body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;;
  /*font-family: 'Roboto', sans-serif;*/
  font-size: 16px;
  color: rgba(18,48,53,.9);

}

h1, h2, h3, h4, h5 {
  margin: 0; 
}

header, projects, main, footer, div {
  box-sizing: border-box;
}

.sides {
  border-left: 5px solid rgba(18,48,53,.9);
  border-right: 5px solid rgba(18,48,53,.9);
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Header styles */




img.logo {
    width:100px;
    margin:0;
    padding: 10px 0px 10px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.topbanner {
    background-color: rgba(18,48,53,.9);
    width: 100%%;
}

.header__name {
    font-size: 35px;
    padding: 8px 0px 8px 0px;
}

.header__title {
    font-size: 22px;
    padding: 8px 0px 8px 0px;
}


/* Main styles */


.project_header {
  font-size: 20px;
  width: 100%;
  padding-bottom: 10px;
}

.project_boxL {
  width: calc((100% - 10px)/2);
  margin-top: 5px;
  margin-right: 10px;
}
.project_boxR {
  width: calc((100% - 10px)/2);
  margin-top: 5px;
  margin-right: 0px;
}

img.round {
  border:1px solid #;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;  
}

.project_name {
  font-size: 16px;
   text-align: center;
   margin: 10px 0px 10px 0px;
}

.darkgray {background-color: rgba(18,48,53,.9);}
.green {background-color: rgba(65,153,40,.75);}
.red {background-color: rgba(143,76,104,.7);}
.blue {background-color: rgba(25,149,165,.6);}


#arcade {}
#resume {}
#website {}
#map {}
#reader {}
#tracker {}

projects, footer {
   display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}


/* Footer styles */

.horiz_bar {
  width:100%;
  margin-top: 20px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

/*
.spacer {
    width:5%;
    height:3px;
}
*/
.horiz_line {
    background-color: rgba(18,48,53,.9);
    width:100%;
    height:3px;
  }

footer li {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

footer ul {
  margin-right: auto;
  margin-left: auto;
}

.links {
  font-size: 13px;
}

footer a {
  text-transform: uppercase;
  padding: 1.2em;
}


