/* Default sizes for below 569 pixel width */

/* Header styles */
img.logo {
    width:70px;
    margin:0;
    padding: 10px 0 10px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header_area {
    height: 150px;
}

span.white_font {
    color:white;
    display: none;
}

.logo_area {
    background-color: rgba(18,48,53,.9);
    width: 100%;
    order:-1;
}

.name_area {
     width: 100%;
     order:0;
 }

.full_name {width:100%;}

.first_name {width: 120px;}

.last_name {width: 135px;}

.design_title{width:100%;}

.header__name {
    margin-left: 20px;
    margin-top: 0;
    font-size: 35px;
    padding: 8px 0 8px 0;
}

.header__title {
    margin-left: 20px;
    font-size: 22px;
    padding: 0 0 8px 0;
}

/* Main styles */
.sidespace {
    width:100%;
    order:-1;
}

.projects {
    width:100%;
}

.project_header {
  font-size: 24px;
  margin-left: 20px;
  width: 100%;
  padding-bottom: 10px;
}

.project_name {
  font-size: 18px;
}

.project_box_resume, .project_box_game, .project_box_web, .project_box_map, .project_box_feeder, .project_box_heart {
  width: calc((100% - 10px)/1);
  margin: 5px 20px 20px 20px;
}

.project_box_resume:hover,.project_box_game:hover,.project_box_map:hover,.project_box_web:hover,.project_box_feeder:hover,.project_box_heart:hover {
    cursor: pointer;
}

.project_box_resume {order:1;} 
.project_box_game {order:2;} 
.project_box_web {order:3;} 
.project_box_map {order:4;} 
.project_box_feeder {order:5;} 
.project_box_heart {order:6;}

/* Footer styles */
.links {
  font-size: 13px;
  margin-bottom: 10px;
}

footer a {
  text-transform: uppercase;
  padding: 1.3em;
}

/* Breakpoint for landscape mode of phones*/
@media screen and (min-width: 475px) {

/* Header styles */
.header_area {
    height: 90px;
}

img.logo {
    width:100px;
    height: 62px;
    margin:0;
    padding: 10px 0 10px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo_area {
    background-color: rgba(18,48,53,.9);
    width: 25%;
    order:0;
}

.name_area {
     width: 75%;
     order:-1;
}

.header__name {
    margin-left: 15px;
    margin-top: 0;
    font-size: 35px;
    padding: 8px 0 8px 0;
}

.header__title {
    margin-left: 15px;
    font-size: 22px;
    padding: 0 0 8px 0;
}

/* Main styles */

main.horiz_bar {display: none;}

.header_area {
        padding-bottom: 20px;
}

.main_area {
    padding-top: 10px;
}

.project_box_resume, .project_box_web, .project_box_feeder {
  width: calc((100% - 60px)/2);
  margin: 5px 10px 20px 20px;
}

.project_box_game, .project_box_map, .project_box_heart {
  width: calc((100% - 60px)/2);
  margin-top: 5px;
  margin: 5px 20px 20px 10px;
}

/* Footer styles */
.links {
  font-size: 16px;
    margin-bottom: 10px;
}

footer a {
  padding: 1.1em;
}

}

/* Breakpoint for tablets*/
@media screen and (min-width: 569px) {

/* Header styles */
.header_area {
    height: 115px;
    padding-bottom: 40px;
}

.first_name {width: 171px;
    background-color: rgba(18,48,53,.9);
}

.last_name {width: 200px;
    margin-left: -8px;
    }

span.white_font {
    color:white;
    display: inline-block;
}

span.black_font {
    display: none;
}

.main_area {
    border-top: 0;
}

main.horiz_bar {
    display:none;
}

.header__name {
    font-size: 50px;
    padding: 8px 0 8px 0;
}

.header__title {
    font-size: 22px;
    padding: 8px 0 8px 0;
}

/* Main styles */
.project_header {
  font-size: 24px;
  margin-left: 20px;
}

.project_name {
  font-size: 20px;
}

/* Footer styles */
.links {
  font-size: 20px;
    margin-bottom: 10px;
}

footer a {
  padding: 0.8em 1em 0.8em 1em;
}

}

/* Breakpoint for at 700 pixels*/
@media screen and (min-width: 700px) {

/* Main styles */
.main_area {
    margin-top: 20px;
}

.sidespace {
    width:25%;
}

.project_header {
  font-size: 24px;
  margin-left: 20px;
  text-align: right;
  margin-top: 3px;
}

.projects {
    width:75%;
}

.project_box_resume, .project_box_game {
  width: calc((100% - 80px)/3);
  margin: 5px 10px 20px 20px;
}

.project_box_web, .project_box_map {
  width: calc((100% - 80px)/3);
  margin-top: 5px;
  margin: 5px 10px 20px 10px;
}

.project_box_feeder, .project_box_heart {
  width: calc((100% - 80px)/3);
  margin-top: 5px;
  margin: 5px 20px 20px 10px;
}

.project_box_game {order:4;} 
.project_box_web {order:2;} 
.project_box_map {order:5;} 
.project_box_feeder {order:3;} 
.project_box_heart {order:6;}

}

/* Breakpoint for at 850 pixels for auto margins*/
@media screen and (min-width: 850px) {

  main, header, footer {
    width: 850px;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }
}